@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
	--transition-speed: 0.5s;
	--transition-timing: linear;
}

/* Basic CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Lato, sans-serif;
	background-color: #333;
	color: #222;
	overflow-x: hidden;
	/* height: 100vh; */
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

.container {
	background-color: #fafafa;
	transform-origin: top left;
	transition: transform var(--transition-speed) var(--transition-timing);
	width: 100vw;
	min-height: 100vh;
	padding: 50px;
}

.container.show-nav {
	transform: rotate(-20deg);
}

.circle-container {
	position: fixed;
	top: -100px;
	left: -100px;
}

.circle {
	background-color: #ff7979;
	height: 200px;
	width: 200px;
	border-radius: 50%;
	position: relative;
	transition: transform var(--transition-speed) var(--transition-timing);
}

.container.show-nav + .circle-container {
	transform: rotate(-90deg);
}

button {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 100px;
	background: transparent;
	border: 0;
	font-size: 26px;
	color: #fff;
	cursor: pointer;
}

.circle button#open {
	left: 60%;
}

.circle button#close {
	top: 60%;
	transform: rotate(90deg);
	transform-origin: top left;
}

.container.show-nav ~ nav li {
	transform: translateX(0);
	transition-delay: 0.3s;
}

nav {
	position: fixed;
	bottom: 40px;
	left: 0;
	z-index: 100;
}

nav ul {
	list-style-type: none;
	padding-left: 30px;
}

nav ul li {
	text-transform: uppercase;
	color: #fff;
	margin: 40px 0;
	transform: translateX(-100%);
	transition: transform 0.4s ease-in;
}

nav ul li:nth-child(2) {
	margin-left: 15px;
	transform: translateX(-150%);
}

nav ul li:nth-child(3) {
	margin-left: 30px;
	transform: translateX(-200%);
}

nav ul li i {
	font-size: 20px;
	margin-right: 10px;
}

.content {
	max-width: 1000px;
	margin: 50px auto;
}

.content img {
	max-width: 100%;
}

.content small {
	color: #555;
	font-style: italic;
}

.content p {
	color: #333;
	line-height: 1.5;
	margin: 20px 0 0;
}

.content h3 {
	margin: 10px 0 10px;
}
