:root {
	--square-dimensions: 150px;
	--image-dimensions: 144px;
}

/* Basic CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #4682b4;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 100vh;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

.empty {
	height: var(--square-dimensions);
	width: var(--square-dimensions);
	margin: 10px;
	border: 3px solid rgba(0, 0, 0, 0.8);
	background-color: #fff;
}

.fill {
	background-image: url('https://picsum.photos/150/150');
	height: var(--image-dimensions);
	width: var(--image-dimensions);
	cursor: pointer;
}

.hold {
	border: 5px solid rgba(0, 0, 0, 0.4);
}

.hovered {
	background-color: #333;
	border-color: #fff;
	border-style: dashed;
}

@media (max-width: 870px) {
	body {
		flex-direction: column;
	}
}
