@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--primary-color: #22254b;
	--secondary-color: #373b69;
}

/* Basic CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--primary-color);
	font-family: Poppins, sans-serif;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
