@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
	--main-btn-color: #800080;
	--ripple-color: #fff;
	--text-light: #ddd;
}

/* Basic CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 100vh;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

button {
	position: relative;
	background-color: var(--main-btn-color);
	color: var(--text-light);
	border: 1px solid var(--main-btn-color);
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 20px 30px;
	border-radius: 6px;
	overflow: hidden;
	margin: 10px 0;
	cursor: pointer;
}

button .circle {
	position: absolute;
	background-color: var(--ripple-color);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	transform: translate(-50%, -50%) scale(0);
	animation: scale 0.8s ease-out forwards;
	pointer-events: none;
}

@keyframes scale {
	to {
		transform: translate(-50%, -50%) scale(3);
		opacity: 0;
	}
}
