@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Basic CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #8e44ad;
	color: #fff;
	font-family: 'Roboto Mono', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 100vh;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

.counter-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 30px 50px;
	text-align: center;
}
