@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root {
	--active: #3498db;
	--empty: #e0e0e0;
	--white: #fff;
	--bg-color: #f6f7fb;
	--font-color: #999;
}

/* Basic CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
	font-family: Muli, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 100vh;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

.container {
	text-align: center;
}

.progress-container {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 30px;
	max-width: 100%;
	width: 350px;
}

.progress-container::before {
	content: '';
	background-color: var(--empty);
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 4px;
	width: 100%;
	z-index: -1;
	transition: 0.4s ease;
}

.progress {
	background-color: var(--active);
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	height: 4px;
	width: 0%;
	z-index: -1;
	transition: 0.4s ease;
}

.circle {
	background-color: var(--white);
	color: var(--font-color);
	border-radius: 50%;
	height: 30px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid var(--empty);
	transition: 0.4s ease;
}

.circle.active {
	border-color: var(--active);
}
