@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

/* basic CSS reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Muli, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	height: 100vh;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

/* custom styles */
.container {
	display: flex;
	width: 90vw;
	color: #fff;
}

.panel {
	background-size: cover;
	background-position: center;
	background-repeat: none;
	height: 80vh;
	border-radius: 50px;
	cursor: pointer;
	flex: 0.5;
	margin: 10px;
	position: relative;
	transition: flex 0.7s ease-in;
}

.panel h3 {
	font-size: 24px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	opacity: 0;
}

.panel.active {
	flex: 5;
}

.panel.active h3 {
	opacity: 1;
}

/* on smaller screens, only show 3 at a time */
@media (max-width: 480px) {
	.container {
		width: 100vw;
	}

	.panel:nth-of-type(4),
	.panel:nth-of-type(5) {
		display: none;
	}
}
